*{
  box-sizing: border-box; /* ВАЖНО- задается для всех элементов: позволяет правильно считать высоту и ширину элиментов */
}
.body{
  font-family: "Roboto" , serif;
}
.header{
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596F5;
}
.navbar{
  max-width: 1280px; /* задали размеры сетки */
  margin: auto;
  display: flex; /* сделаи блог гибким */
  justify-content: space-between; /* расставили элементы по краям */
  align-items: center;
}
.navbar-menu{
  margin: 0; /*откл. внешние отступы */
  padding: 0; /*откл. внутрение отступы */
  list-style: none;
  display: flex;
  text-align: center;
}

.navbar-item{
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link{
  text-decoration: none;
  color: #fff;
}

.navbar-contacts{
  text-align: right;
}

.navbar-text{
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.navbar-phone{
  font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color:#fff;
}